$black: #011627;
$background: #ffff;
$gray-line: #011627;
$orange: #ff9f1c;
$red: #e71d36;


// $wrapperbg: #ff9f1c;
$borderRadius: 40px;
$transition: .3s;
$paddingInner: 20px;
$marginBottom: 10px;
$opacityOff: .3;
$opacityHover: .8;


$container-width: 90%;

$duration: 0.15s;
